.main_H{
    font-size: 3rem;
    background-color: blueviolet;
    color: beige;
    font-style: italic;
}
.Heading1{
    font-size: 2rem;
    background-color: burlywood;
    color: rgb(4, 4, 3);
    font-style: italic;
}